*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgb(5, 5, 5),rgb(243, 211, 211)), url(pic/crayon.jpg); */
    background-image:  url(../career/lazoti.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
}
.bod{
    background-color: rgba(19, 22, 26, 0.2);
}

.menu1{
    list-style-type: none;
    display: flex;
    column-gap: 70px;
}
a{
    text-decoration: none;
    font-size: 17px;
    transition: all 0.4ms;
    color: black;
}
a:hover{
    font-size: 19px;
    color: rgba(55, 48, 48, 0.576);
}
nav{
    /* width: 100%; */
    height: 65px;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;

}


.logo {
    display: inline-block;
    font-size: 45px;
    letter-spacing: 3px;
    color:rgba(101, 101, 72, 0.662)
}

.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: rgb(240, 236, 236);

}
.h-text span{
    letter-spacing: 15px;
    color: rgb(238, 233, 233);
}
.h-text h1{
    font-size: 4em;
}